---
import NavLink from "@components/NavLink.astro";
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const notes = await getCollection("notes");
const sortedNotes = notes.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const formatDate = (date: Date) =>
  new Intl.DateTimeFormat("en-US", {
    month: "short",
    day: "numeric",
    year: "numeric",
  }).format(date);
---

<BaseLayout
  pageTitle="Notes | Hyun Don Moon"
  pageDescription="My notes on web development and personal updates."
>
  <Prose>
    <section>
      <h1>Notes</h1>
      <p>
        These are my notes on web development—things I've learned at work or
        found interesting as I dive deeper into the field. Occasionally, I'll
        also share short personal updates to mark memorable events in my life.
      </p>
    </section>
  </Prose>

  <br />

  <section>
    <ul class="divide-y">
      {
        sortedNotes.map(({ data, id }) => {
          const { title, pubDate, language, summary } = data;
          const formattedDate = formatDate(pubDate);
          const lang = language === "English" ? "English" : "한국어";

          return (
            <li class="py-6 first-of-type:pt-0 last-of-type:pb-0">
              <NavLink
                href={`/notes/${id}/`}
                class="text-blue-600"
                data-astro-prefetch
              >
                {title}
              </NavLink>
              <p class="text-black/75 text-sm md:text-base">
                {formattedDate}&nbsp;·&nbsp;{lang}&nbsp;·&nbsp;{summary}
              </p>
            </li>
          );
        })
      }
    </ul>
  </section>
</BaseLayout>
