---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"notes">["data"];
const { title, pubDate, updatedDate, summary } = Astro.props;

const formatDate = (date: Date) =>
  new Intl.DateTimeFormat("en-US", {
    month: "short",
    day: "numeric",
    year: "numeric",
  }).format(date);
---

<BaseLayout pageTitle={`${title} | Hyun Don Moon`} pageDescription=`${summary}`>
  <main>
    <Prose>
      <h1>{title}</h1>
      <i>
        <time datetime={pubDate.toDateString()}>
          {formatDate(pubDate)}
        </time>
      </i>
      {
        updatedDate && (
          <i>
            <time datetime={updatedDate.toDateString()}>
              (Updated: {formatDate(updatedDate)})
            </time>
          </i>
        )
      }
      <slot />
    </Prose>
  </main>
</BaseLayout>
